In [3]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [4]:
df.iloc[0]

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

In [5]:
df.sort_values(by=['Gold'],ascending = False).index[0]

'United States'

In [6]:
df['Diff_Summer_Gold']=abs(df['Gold']-df['Gold.1'])

In [7]:
df

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,Diff_Summer_Gold
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG,0
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG,5
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG,18
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM,1
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG,26
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP,0
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM,0
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM,3
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX,8

In [8]:
df_atleast_one_gold = df[(df['Gold']>0) & (df['Gold.1']>0)].copy()

In [14]:
df_atleast_one_gold['relative_diff']=df_atleast_one_gold['Diff_Summer_Gold']/df_atleast_one_gold['Gold.2']

In [13]:
del df['relative_diff']

In [15]:
df_atleast_one_gold

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,Diff_Summer_Gold,relative_diff
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS,134,0.930556
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT,41,0.532468
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR,6,0.333333
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL,36,0.947368
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL,50,0.961538
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN,3,0.024793
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN,189,0.887324
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,CRO,2,0.200000
Czech Republic,5,14,15,15,44,6,7,9,8,24,11,21,24,23,68,CZE,7,0.333333
Czechoslovakia,16,49,49,45,143,16,2,8,15,25,32,51,57,60,168,TCH,47,0.921569
Estonia,11,9,9,15,33,9,4,2,1,7,20,13,11,16,40,EST,5,0.384615
Finland,24,101,84,117,302,22,42,62,57,161,46,143,146,174,463,FIN,59,0.412587
France,27,202,223,246,671,22,31,31,47,109,49,233,254,293,780,FRA,171,0.733906
Germany,15,174,182,217,573,11,78,78,53,209,26,252,260,270,782,GER,96,0.380952
United Team of Germany,3,28,54,36,118,3,8,6,5,19,6,36,60,41,137,EUA,20,0.555556
East Germany,5,153,129,127,409,6,39,36,35,110,11,192,165,162,519,GDR,114,0.593750
West Germany,5,56,67,81,204,6,11,15,13,39,11,67,82,94,243,FRG,45,0.671642
Great Britain,27,236,272,272,780,22,10,4,12,26,49,246,276,284,806,GBR,226,0.918699
Italy,26,198,166,185,549,22,37,34,43,114,48,235,200,228,663,ITA,161,0.685106
Japan,21,130,126,142,398,20,10,17,18,45,41,140,143,160,443,JPN,120,0.857143
Kazakhstan,5,16,17,19,52,6,1,3,3,7,11,17,20,22,59,KAZ,15,0.882353
South Korea,16,81,82,80,243,17,26,17,10,53,33,107,99,90,296,KOR,55,0.514019
Netherlands,25,77,85,104,266,20,37,38,35,110,45,114,123,139,376,NED,40,0.350877
Norway,24,56,49,43,148,22,118,111,100,329,46,174,160,143,477,NOR,62,0.356322
Poland,20,64,82,125,271,22,6,7,7,20,42,70,89,132,291,POL,58,0.828571
Russia,5,132,121,142,395,6,49,40,35,124,11,181,161,177,519,RUS,83,0.458564
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS,317,0.670190
Unified Team,1,45,38,29,112,1,9,6,8,23,2,54,44,37,135,EUN,36,0.666667
Slovakia,5,7,9,8,24,6,2,2,1,5,11,9,11,9,29,SVK,5,0.555556
Slovenia,6,4,6,9,19,7,2,4,9,15,13,6,10,18,34,SLO,2,0.333333
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP,36,0.947368
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE,93,0.481865
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI,3,0.030928
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,UKR,31,0.885714
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA,880,0.820896
Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,UZB,4,0.666667

In [24]:
df_atleast_one_gold.sort_values('relative_diff',ascending = False).index[0]

'Bulgaria'

In [26]:
### Question 4
#Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`)
###counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. 
###The function should return only the column (a Series object) which you created, with the country names as indices.

#*This function should return a Series named `Points` of length 146*

In [34]:
def answer_four():
    df['Points'] = (df['Gold.2'] * 3) + (df['Silver.2'] * 2) + (df['Bronze.2'])
    return df['Points']

In [30]:
df_atleast_one_gold['Points'] = (df_atleast_one_gold['Gold.2'] * 3) + (df_atleast_one_gold['Silver.2'] * 2) + (df_atleast_one_gold['Bronze.2'])

In [35]:
answer_four()

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Name: Points, Length: 146, dtype: int64